/* banner */
.banner{
    width: 1440px;
    height: 600px;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    margin: auto;
}

.banner-img{
    background-position: center;
    margin-left: 620px;
    margin-top: 26px;
}

.banner-header{
    font-weight: 800;
    font-size: 28px;
    text-align: center;
}
.banner-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: darkslategray;
    text-align: center;
}

/* fonts */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* button styles */

.btn{
    font-size: 20px;
    font-weight: 600;
    background-color: #0D1321;
    color: #FFFFFF;
    width: 244px;
    height: 65px;
    margin-left: 620px;
    border-radius: 8px;
}
.btn-all{
    background-color: white;
    color: #0D1321;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 5px;
}

/* learn more buttons */


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}

.nav-title{
    font-weight: 800;
    font-size: 28;
    font-weight: 800;
}

nav ul li{
    list-style: none;
    display: flex;
}

/* main styles */
.main-container{
    background: rgba(13, 19, 33, 0.02);
    border-radius: 10px;
    max-width: 1280px;
    margin: auto;
    padding: 20px 0;
}

.main-content{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: space-between;
}

.main-title{
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    margin-top: 80px;
}

.main-description{
    margin-top: 24px;
    line-height: 26px;
    font-weight: 400;
    font-size: 16px;
    color: darkslategray;
    text-align: center;
    margin-top: 24px;
    margin-left: 292px;
    margin-right: 296px;
}

.main-title-1{
    margin-top: 48px;
    margin-left: 48px;
    color: darkslategray;
    font-size: 24px;
    /* color: #0D1321;
    opacity: 70%;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin: 59px 508px 206px 48px;
    width: 100px; */
    width: 100%;
}
.para-title-1{
    /* font-size: 16px;
    line-height: 26px;
    font-weight: 400; */
}

.img-sec-1{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    cursor: pointer;
}

/* video link */
.video-link{
    border-radius: 10px;
    margin: 40px 180px 0 480px;
}

.lang-sec{

}
.tag{
    font-weight: 800;
    font-size: 32px;
    color: #0D1321;
    text-align: center;
}

.paragraph{
    font-size: 16px;
    font-weight: 400;
    color: darkslategray;
    text-align: center;
}
